annotated-types==0.7.0
customtkinter==5.2.2
darkdetect==0.8.0
greenlet==3.0.3
packaging==24.1
pillow==10.3.0
pydantic==2.8.2
pydantic_core==2.20.1
screeninfo==0.8.1
SQLAlchemy==2.0.31
typing_extensions==4.12.2
