altgraph==0.17.4
annotated-types==0.7.0
customtkinter==5.2.2
cx_Freeze==7.2.0
cx_Logging==3.2.0
darkdetect==0.8.0
et-xmlfile==1.1.0
greenlet==3.0.3
lief==0.14.1
numpy==2.0.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pydantic==2.7.4
pydantic_core==2.18.4
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
screeninfo==0.8.1
setuptools==70.3.0
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
wheel==0.43.0
